h1 {
  font-family: <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Dancing+Script" rel="stylesheet">;
  color: Violet;
  background-image:ucl (IMG_7613.jpg);
  padding: 30px;
  font-size: 35px;
}

.img {
  Border-radius：40px
}
